* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-icon {
    font-size: 45px;
}

.btn-svg {
    margin-bottom: 2px;
}

.bottom-img {
    width: 100%;
}

.bottom-container {
    background-color: #F1F1F1;
}

.border-div {
    display: inline-block;
    border: 5px solid #F1F1F1;
}

